<div class="container">
  <div class="col-mp-12 margin-top article-block-show">
    <h1 class="text-center"><%= "今日のラーメンとの思い出は？" %></h1>
    <%= image_tag 'mainichi.jpg', class: 'img-responsive padding'%>
      <%= render 'form', artcre: @article %>
    </div>
  </div>
</div>