// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin-top{
  margin-top: 5%;
}
.title{
  font-size: 20px;
}

.article-block{
  background-color: white;
  border: 5px solid  black;
  margin: 120px;
}
.article-block-show{
  background-color: white;
  border: 5px solid  black;
  // margin: 10px;
  width: 100%;
}
.padding-top{
  padding-top: 15px;
}

a{
  color: black;
}
.container{
  width: auto;
}
.show-image{
  width: 100%;
  height: 100%;
}
.object-fit{
  object-fit: cover;
}
.color{
  color:  white;
}